.bio img {
  width:140px;
  height:140px;
  margin-bottom: 20px;
}

.bio ul {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

.signin li {
  margin-right: 20px;
}

a {
  cursor: pointer;
}

#main {
  margin-top: 50px;
}

.skill-title, .username {
  font-size: 24px;
}

.skill-level {
  font-size: 18px;
}

.signin-button {
  margin-bottom: 200px;
}

#octocat {
  margin-top: 60px;
  margin-bottom: 20px;
}

#signin-copy {
  font-size: 24px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

li.signin-true, li.signout-true {
  display: none;
}

li.signin-false, li.signout-false {
  display: inline;
}

.teacher-learner-count {
  padding: 20px 0 23px 0;
  margin: 0px 10px 0 10px;
  border: 2px solid grey;
}

.teacher-learner-count button {
  width: 60px;
  height: 60px;
}

.count {
  box-sizing: border-box;
  font-size: 18px;
  width: 60px;
  height: 60px;
  padding: 20px;
  margin: 0;
}

.counters {
  margin-top: 10px;
}

#filter-form {
}

.filter-sort {
  text-align: center;
}
