p {
  font-size: 18px;
}

.row{
  margin-left:0;
  margin-right:0;
}

.signin-box {
  margin-bottom: 20px;
}

.signin-container {
  margin-top: 40px;
}

.spin {
  -webkit-animation:spin 4s ease-in infinite;
  -moz-animation:spin 4s ease-in infinite;
  animation:spin 4s ease-in infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(5760deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(5760deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(5760deg); transform:rotate(5760deg); } }

h2 button {
  display: inline-block;
}

p.zip {
  font-size: 16px;
}

input.zip {
  width: 80px;
}

.bio {
  /*position: fixed;*/
}

.bio img {
  width:140px;
  height:140px;
  margin-bottom: 20px;
}

.bio ul {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

.bio p{
  word-wrap: break-word;
}

.editor {
  font-size: 18px;
  width: 100%;
  resize: none;
}

p.git{
  color:white;
  font-family:'century gothic';
  font-size:18px;
}

.bio img.icon{
  width:48px;
  height:48px;
}

#github{
  z-index:10;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#github img{
  width:350px;
}

.wallpaper-one {
  background: #ffffff url("../assets/tiles/wood-pattern8-512.jpg") repeat right top;
  position: fixed;
  width: 60%;
  height: 100%;
  left: 0;
  top: 0;
  /*z-index: 10;*/
}

.wallpaper-two {
  background: #ffffff url("../assets/tiles/wood-pattern3-512.jpg") repeat right top;
  position: fixed;
  width: 60%;
  height: 100%;
  left: 60%;
  top: 0;
  /*z-index: 10;*/
}

.signin li {
  margin-right: 20px;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

#main {
  margin-top: 50px;
}

.skill-title, .username {
  font-size: 24px;
}

.skill-level {
  font-size: 18px;
}

.signin-button {
  margin-bottom: 200px;
}

#octocat {
  margin-top: 20px;
  margin-bottom: 20px;
}

#signin-copy {
  font-size: 24px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

li.signin-true, li.signout-true {
  display: none;
}

li.signin-false, li.signout-false {
  display: inline;
}

.teacher-learner-count {
  /*padding: 20px 0 23px 0;*/
  /*margin: 0px 10px 0 10px;*/
  /*border: 2px solid grey;*/
  margin-top: 10px;
  background-color: white;
  width: 120px;
}

.teacher-learner-count button {
  width: 60px;
  height: 60px;
}

.count {
  box-sizing: border-box;
  font-size: 18px;
  width: 60px;
  height: 60px;
  padding: 20px;
  margin: 0;
}

.counters {
  margin-top: 10px;
}

#filter-form {
}

.filter-sort {
  text-align: center;
}
