.bio img {
  width:140px;
  height:140px;
  margin-bottom: 20px;
}

.bio ul {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

.signin li {
  margin-right: 20px;
}

a {
  cursor: pointer;
}

#main {
  margin-top: 50px;
}

.skill-title, .username {
  font-size: 24px;
}

.skill-level {
  font-size: 18px;
}

.signin-button {
  margin-bottom: 200px;
}

#octocat {
  margin-top: 60px;
  margin-bottom: 20px;
}

#signin-copy {
  font-size: 24px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
