<div class="about col-md-6 col-md-offset-3">
  <div class="text-center">
    <h2>Edify was built for</br>lifelong learners</h2>
    <img class="about-img img-responsive" ng-src="/assets/community.png" alt="a community of learners" />
    <h2 class="about-steps">1</h2></br><h2>select topics you care about</h2>
    <img class="about-img img-responsive" ng-src="/assets/select_topic.png" alt="selecting topics" />
    <h2 class="about-steps">2</h2></br><h2>connect with kindred spirits</h2>
    <img class="about-img img-responsive" ng-src="/assets/kindred_spirits.png" alt="kindred spirits" />
    <h2 class="about-steps">3</h2></br><h2>learn together</h2>
    <img class="about-img img-responsive" ng-src="/assets/learn_together.png" alt="people learning together" />
  </div>

  <div class="text-center">
    <div id="octocat">
      <img ng-class="{spin: spin}" ng-src="assets/GitHub-Mark-64px.png" alt="octocat" />
    </div>
    <a ng-click="spin = true" href="/auth/github" class="btn-lg btn-success signin-button">
      Log in
    </a>
  </div>
</div>
