<div class="well col-md-2">
  <div class="bio">
    <div class="row text-center">

      <!-- avatar -->
      <img ng-src="{{user.avatar}}" class="profile img-circle img-responsive center-block"></img>
    </div>

    <!-- contact links -->
    <ul class="text-center">
      <li><a target="_blank " href="http://github.com/{{user.username}}">{{user.username}}</a></li>
      <li><a target="_blank" href="mailto:{{user.email}}">{{user.email}}</a></li>
    </ul>

    <!-- BIO EDITOR -->
    <div class="bio-editor">
      <p class="zip"><span  ng-show="!$scope.bioEditor">zip: {{user.zip}}</span>
        <form name="zip_form">
          <input class="zip"
            name="zipcode"
            ng-pattern="/^\d{5}$/"
            ng-show="$scope.bioEditor" ng-model="user.zip"
          </input>



          <!-- disabling all the ng-blurs in favor of save buttons for now.... -->
          <!-- ng-blur="updateUser(); $scope.bioEditor = false"> -->



        </form>
      </p>

      <p ng-show="!$scope.bioEditor">{{user.blurb}}</p>
      <textarea
        ng-show="$scope.bioEditor" ng-model="user.blurb"
    <div class="bio-bioEditor">
      <p ng-show="!$scope.bioEditor">{{user.blurb}}</p>
      <textarea
        ng-show="$scope.bioEditor" ng-model="user.blurb"
        class="editor" rows="3" maxlength="255">
      </textarea>
      <button class="btn btn-default btn-md pull-right" ng-show="!$scope.bioEditor" ng-click="$scope.bioEditor = true">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default btn-md pull-right" ng-show="$scope.bioEditor" ng-click="updateUser(); $scope.bioEditor = false">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<!-- LEARN SKILLS -->
<div class="col-md-5">
  <h1 class="text-center" ng-model="$scope.user">
      <!-- Modal to Learn Skills -->
    <a class="add" ng-click="open('learn')">
    <!-- old link -->
    <!-- <a class="add" ui-sref="allskills"> -->
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    learning {{user.learnSkills.length}} skills
  </h1>

  <!-- skill entries -->
  <div class="skill well clearfix" ng-repeat="skill in user.learnSkills">
    <div class="col-xs-3">

      <!-- title -->
      <div class="skill-title"><a ui-sref="skill({ skillname: '{{skill.skill_name}}' })">{{skill.skill_name}}</a></div>

      <!-- skill level -->
      <div class="skill-level">level: {{skill.skill_level}}

        <!-- plus and minus buttons -->
        <div class="skill-level-buttons" ng-show="$scope.skillEditor">

          <button type="button" class="btn btn-default btn-sm" ng-click="decreaseLearnSkillLevel($index)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="increaseLearnSkillLevel($index)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <!-- stars / likes / hearts / coconuts / whatever -->
      <div class="skill-stars" star-rating rating-value="skill.stars" max="skill.stars"></div>
    </div>

    <!-- skill blurb editor -->
    <div class="col-xs-6 blurb-editor">
      <p ng-show="!$scope.skillEditor">{{skill.blurb}}</p>
      <textarea
        ng-show="$scope.skillEditor" ng-model="skill.blurb"
        class="editor" rows="3" maxlength="255">
      </textarea>
      <!-- <button class="btn btn-default btn-md pull-right" ng-show="!$scope.skillEditor" ng-click="$scope.skillEditor = true">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button> -->

      <!-- save button closes editor -->
      <button class="btn btn-default btn-lg pull-right" ng-show="$scope.skillEditor" ng-click="saveLearnSkill($index); $scope.skillEditor = false">
        save
        <!-- <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> -->
      </button>

    <!-- open editor button -->
    <button ng-show="!$scope.skillEditor" class="btn btn-default btn-lg pull-left" ng-click="$scope.skillEditor = true">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>

    </div>

    <!-- delete button -->
    <button ng-show="$scope.skillEditor" class="btn btn-default btn-lg pull-right" ng-click="removeLearnSkill($index)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>

  </div>
</div>

<!-- TEACH SKILLS -->
<div class="col-md-5">
  <h1 class="text-center" ng-model="$scope.user">
      <!-- Modal to Teach Skills -->
    <a class="add" ng-click="open('teach')">
    <!-- old link -->
    <!-- <a class="add" ui-sref="allskills"> -->
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    teaching {{user.teachSkills.length}} skills
  </h1>

  <!-- skill entries -->
  <div class="skill well clearfix" ng-repeat="skill in user.teachSkills">
    <div class="col-xs-3">

      <!-- title -->
      <div class="skill-title"><a ui-sref="skill({ skillname: '{{skill.skill_name}}' })">{{skill.skill_name}}</a></div>

      <!-- skill level -->
      <div class="skill-level">level: {{skill.skill_level}}

        <!-- plus and minus buttons -->
        <div class="skill-level-buttons" ng-show="$scope.skillEditor">
          <button type="button" class="btn btn-default btn-sm" ng-click="decreaseTeachSkillLevel($index)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="increaseTeachSkillLevel($index)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <!-- stars / likes / hearts / coconuts / whatever -->
      <div class="skill-stars" star-rating rating-value="skill.stars" max="skill.stars"></div>
    </div>

    <!-- skill blurb editor -->
    <div class="col-xs-6 blurb-editor">
      <p ng-show="!$scope.skillEditor">{{skill.blurb}}</p>
      <textarea
        ng-show="$scope.skillEditor" ng-model="skill.blurb"
        class="editor" rows="3" maxlength="255">
      </textarea>

      <!-- save button closes editor -->
      <button class="btn btn-default btn-lg pull-right" ng-show="$scope.skillEditor" ng-click="saveTeachSkill($index); $scope.skillEditor = false">
        save
        <!-- <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> -->
      </button>

    <!-- open editor button -->
    <button ng-show="!$scope.skillEditor" class="btn btn-default btn-lg pull-left" ng-click="$scope.skillEditor = true">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>

    </div>

    <!-- delete button -->
    <button ng-show="$scope.skillEditor" class="btn btn-default btn-lg pull-right" ng-click="removeTeachSkill($index)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>

  </div>
</div>
