<div class="well col-md-2 bio">
  <div class="row text-center">
    <img src="{{user.avatar}}" class="profile img-circle img-responsive center-block"></img>
  </div>
  <ul class="text-center">
    <li><a target="_blank " href="http://github.com/{{user.username}}">{{user.username}}</a></li>
    <li><a target="_blank" href="mailto:{{user.email}}">{{user.email}}</a></li>
  </ul>
  <p class="text-center">Profile: {{user.userblurb}}</p>
</div>

<div class="col-md-5 text-center">
  <h1>
    <a class="add" ui-sref="allskills">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    skills to learn
  </h1>
  <div class="skill well clearfix" ng-repeat="skill in user.learnSkills">
    <div class="skill-title"><a ui-sref="skill({ skillname: '{{skill.skill_name}}' })">{{skill.skill_name}}</a></div>
    <div class="skill-level">level: {{skill.skill_level}}
      <button type="button" class="btn btn-default btn-sm" ng-click="increaseLearnSkillLevel($index)" ng-blur="saveLearnSkill($index)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm" ng-click="decreaseLearnSkillLevel($index)" ng-blur="saveLearnSkill($index)">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="removeLearnSkill($index)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </div>
</div>

<div class="col-md-5 text-center" >
  <h1>
    <a class="add" ui-sref="allskills">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    skills to teach
  </h1>
  <div class="skill well clearfix" ng-repeat="skill in user.teachSkills">
    <div class="skill-title"><a ui-sref="skill({ skillname: '{{skill.skill_name}}' })">{{skill.skill_name}}</a></div>
    <div class="skill-level">level: {{skill.skill_level}}
      <button type="button" class="btn btn-default btn-sm" ng-click="increaseTeachSkillLevel($index)" ng-blur="saveTeachSkill($index)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm" ng-click="decreaseTeachSkillLevel($index)" ng-blur="saveTeachSkill($index)">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="removeTeachSkill($index)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  </div>
</div>
