<div class="well col-md-2">
  <div class="row text-center">
    <img src="{{user.avatar}}" class="profile img-circle img-responsive center-block"></img>
  </div>
  <ul class="text-center">
    <li><a target="_blank " href="http://github.com/{{user.username}}">{{user.username}}</a></li>
    <li><a target="_blank" href="mailto:{{user.email}}">{{user.email}}</a></li>
  </ul>
</div>

<div class="col-md-4 text-center"><h1>skills to learn</h1>
  <pre ng-repeat="skill in user.learnSkills"> {{skill}}
  </pre>
</div>

<div class="col-md-4 text-center" ><h1>skills to teach</h1>
  <pre ng-repeat="skill in user.teachSkills"> {{skill}}
  </pre>
</div>
