<!-- <div class="row">
    <div id="github">
      <p class="git"> Sign in with </p>
      <a href="/auth/github"><img src="../assets/github.png"></img></a>
    </div>
    <div class="wallpaper-one"></div>
    <div class="wallpaper-two"></div>
</div> -->


<div class="col-md-4 col-md-offset-4 well signin-container">
  <div class="text-center signin-box" ng-init="spin = false">
    <h1>edify</h1>
    <ol id="signin-copy" class="text-left">
      <li>meet nerds</li>
      <li>share skills</li>
      <li>????</li>
      <li>profit</li>
    </ol>
    <div id="octocat">
      <img ng-class="{spin: spin}" src="assets/GitHub-Mark-64px.png" alt="octocat" />
    </div>
    <a ng-click="spin = true" href="/auth/github" class="btn-lg btn-info signin-button">
      sign in with github
    </a>
  </div>
</div>
