<div class="container-fluid signin-background">
  <div class="col-md-6 col-md-offset-3 well signin-container">
    <div class="text-center signin-box" ng-init="spin = false">
      <img class="login-logo img-responsive" ng-src="assets/edifylogo.png" />
      <h3>Learn with your neighbors</h3>
      <div id="octocat">
        <img ng-class="{spin: spin}" ng-src="assets/GitHub-Mark-64px.png" alt="octocat" />
      </div>
      <a ng-click="spin = true" href="/auth/github" class="btn-lg btn-success signin-button">
        Log in
      </a>
    </div>
  </div>
</div>