<div>
  <h2>{{skillname}}</h2>
  <div class="col-md-6"> 
    <h3>Learners</h3>
    <table class="table">
      <thead>
        <td>Username</td>
        <td>Skill Level</td>
      </thead>
      <tbody>
        <tr ng-repeat="learner in learners">
          <td><a ui-sref="user({username: '{{learner.username}}' })">{{learner.username}}</a></td>
          <td>{{learner.skill_level}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Teachers</h3>
    <table class="table">
      <thead>
        <td>Username</td>
        <td>Skill Level</td>
      </thead>
      <tbody>
        <tr ng-repeat="teacher in teachers">
          <td><a ui-sref="user({username: '{{teacher.username}}' })">{{teacher.username}}</a></td>
          <td>{{teacher.skill_level}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>