<h1 class="text-center">{{skillname}}</h1>
<div class="col-md-5 col-md-offset-1">
  <h2 class="text-center">
    <button class="btn btn-default btn-md"
      ng-disabled="$scope.user.learnSkills.indexOf($scope.allSkills[$index].id)"
      ng-click="addLearnSkill(skillname)">
      <div class="glyphicon glyphicon-plus"></div>
      <div>learn</div>
    </button>
    learners
  </h2>
  <div class="skill well clearfix" ng-repeat="learner in learners">
    <div class="col-xs-3">
      <a ui-sref="user({username: '{{learner.username}}' })">
        <img ng-src="{{learner.avatar}}" class="profile img-circle img-responsive center-block"></img>
      </a>
    </div>
    <div class="col-xs-8">
      <div class="username"><a ui-sref="user({username: '{{learner.username}}' })">{{learner.username}}</a></div>
      <div class="skill-level">level: {{learner.skill_level}}</div>
      <div class="skill-stars" star-rating rating-value="skill.stars" max="skill.stars"></div>
      <up-vote voter="getVoter()" learner="learner.username" skill="skillname"></up-vote>
    </div>
  </div>
</div>

<div class="col-md-5" >
  <h2 class="text-center">
    <button class="btn btn-default btn-md"
      ng-disabled="$scope.user.teachSkills.indexOf($scope.allSkills[$index].id)"
      ng-click="addTeachSkill(skillname)">
      <div class="glyphicon glyphicon-plus"></div>
      <div>teach</div>
    </button>
    teachers
  </h2>
  <div class="skill well clearfix" ng-repeat="teacher in teachers">
    <div class="col-xs-3">
      <a ui-sref="user({username: '{{teacher.username}}' })">
        <img ng-src="{{teacher.avatar}}" class="profile img-circle img-responsive center-block"></img>
      </a>
    </div>
    <div class="col-xs-8">
      <div class="username"><a ui-sref="user({username: '{{teacher.username}}' })">{{teacher.username}}</a></div>
      <div class="skill-level">level: {{teacher.skill_level}}</div>
      <div class="skill-stars" star-rating rating-value="skill.stars" max="skill.stars"></div>
      <up-vote voter="getVoter()" teacher="teacher.username" skill="skillname"></up-vote>
    </div>
  </div>
</div>
