<div class="well col-md-2 bio">
  <div class="row text-center">
    <img src="{{user.avatar}}" class="profile img-circle img-responsive center-block"></img>
  </div>
  <ul class="text-center">
    <li><a target="_blank " href="http://github.com/{{user.username}}">{{user.username}}</a></li>
    <li><a target="_blank" href="mailto:{{user.email}}">{{user.email}}</a></li>
    <li>Zip code: {{user.zip}}</a></li>
  </ul>
  <p>{{user.blurb}}</p>
</div>

<div class="col-md-5 text-center">
  <h1>
    skills to learn
  </h1>
  <div class="skill well clearfix" ng-repeat="skill in user.learnSkills">
    <div class="skill-title"><a ui-sref="skill({skillname: '{{skill.skill_name}}' })">{{skill.skill_name}}</a></div>
    <div class="skill-level">level: {{skill.skill_level}}</div>
    <div class="skill-stars" star-rating rating-value="skill.stars" max="skill.stars"></div>
    <upvote voter="getVoter()" learner="user.username" skill="skill.skill_name"></upvote>
  </div>
</div>

<div class="col-md-5 text-center" >
  <h1>
    skills to teach
  </h1>
  <div class="skill well clearfix" ng-repeat="skill in user.teachSkills">
    <div class="skill-title"><a ui-sref="skill({skillname: '{{skill.skill_name}}' })">{{skill.skill_name}}</a></div>
    <div class="skill-level">level: {{skill.skill_level}}</div>
    <div class="skill-stars" star-rating rating-value="skill.stars" max="skill.stars"></div>
    <upvote voter="getVoter()" teacher="user.username" skill="skill.skill_name"></upvote>
  </div>
</div>
